<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/what-we-play"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">ACHIEVEMENT</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <img [src]="gameService.getGameImage(gameId)" alt="Game Image" />
    <ion-item>
      <ion-label>Year</ion-label>
      <ion-select [(ngModel)]="selectedYear" (ionChange)="filterAchievementsByYear()">
        <ion-select-option [value]="0">All</ion-select-option>
        <ion-select-option *ngFor="let year of availableYears" [value]="year">{{year}}</ion-select-option>
      </ion-select>      
    </ion-item>
  </ion-card>

  <ion-list>
    <ion-item *ngFor="let achievement of filteredAchievements">
      <ion-label>
        <h2>{{achievement.title}}</h2>
        <p>{{achievement.team}} - {{achievement.year}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>