<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/team"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">TEAM MEMBERS</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">{{teamName}}</ion-card-title>
    </ion-card-header>
    <img [src]="getGameImage()" alt="Game Image" />
  </ion-card>

  <ion-list>
    <ion-item *ngFor="let member of members">
      <ion-avatar slot="start">
        <img [src]="member.avatar" />
      </ion-avatar>
      <ion-label>
        <h2>{{member.nickname}}</h2>
        <p>Role: {{member.role}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
